/*--------------------文字图标--------------------*/
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chromeã€firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont";
font-size:20px;font-style:normal;-webkit-font-smoothing: antialiased;
}
/*--------------------布局样式--------------------*/
/*--------------------ZhaoRui 2016.03.29--------------------*/
.m-0{margin:0!important}.m-t-0{margin-top:0!important}.m-b-0{margin-bottom:0!important}.m-l-0{margin-left:0!important}.m-r-0{margin-right:0!important}
.m-5{margin:5px!important}.m-t-5{margin-top:5px!important}.m-b-5{margin-bottom:5px!important}.m-l-5{margin-left:5px!important}.m-r-5{margin-right:5px!important}
.m-10{margin:10px!important}.m-t-10{margin-top:10px!important}.m-b-10{margin-bottom:10px!important}.m-l-10{margin-left:10px!important}.m-r-10{margin-right:10px!important}
.m-15{margin:15px!important}.m-t-15{margin-top:15px!important}.m-b-15{margin-bottom:15px!important}.m-l-15{margin-left:15px!important}.m-r-15{margin-right:15px!important}
.m-20{margin:20px!important}.m-t-20{margin-top:20px!important}.m-b-20{margin-bottom:20px!important}.m-l-20{margin-left:20px!important}.m-r-20{margin-right:20px!important}
.m-25{margin:25px!important}.m-t-25{margin-top:25px!important}.m-b-25{margin-bottom:25px!important}.m-l-25{margin-left:25px!important}.m-r-25{margin-right:25px!important}
.m-30{margin:30px!important}.m-t-30{margin-top:30px!important}.m-b-30{margin-bottom:30px!important}.m-l-30{margin-left:30px!important}.m-r-30{margin-right:30px!important}
.p-0{padding:0!important}.p-t-0{padding-top:0!important}.p-b-0{padding-bottom:0!important}.p-l-0{padding-left:0!important}.p-r-0{padding-right:0!important}
.p-5{padding:5px!important}.p-t-5{padding-top:5px!important}.p-b-5{padding-bottom:5px!important}.p-l-5{padding-left:5px!important}.p-r-5{padding-right:5px!important}
.p-10{padding:10px!important}.p-t-10{padding-top:10px!important}.p-b-10{padding-bottom:10px!important}.p-l-10{padding-left:10px!important}.p-r-10{padding-right:10px!important}
.p-15{padding:15px!important}.p-t-15{padding-top:15px!important}.p-b-15{padding-bottom:15px!important}.p-l-15{padding-left:15px!important}.p-r-15{padding-right:15px!important}
.p-20{padding:20px!important}.p-t-20{padding-top:20px!important}.p-b-20{padding-bottom:20px!important}.p-l-20{padding-left:20px!important}.p-r-20{padding-right:20px!important}
.p-25{padding:25px!important}.p-t-25{padding-top:25px!important}.p-b-25{padding-bottom:25px!important}.p-l-25{padding-left:25px!important}.p-r-25{padding-right:25px!important}
.p-30{padding:30px!important}.p-t-30{padding-top:30px!important}.p-b-30{padding-bottom:30px!important}.p-l-30{padding-left:30px!important}.p-r-30{padding-right:30px!important}
.f-300{font-weight:300!important}.f-400{font-weight:400!important}.f-500{font-weight:500!important}.f-700{font-weight:700!important}
.p-relative{position:relative!important}.p-absolute{position:absolute!important}.p-fixed{position:fixed!important}.p-static{position:static!important}
.o-hidden{overflow:hidden!important}.o-visible{overflow:visible!important}.o-auto{overflow:auto!important}
.d-block{display:block!important}.di-block{display:inline-block!important}
.bgm-white{background-color:#fff!important}.c-white{color:#fff!important}
.bgm-black{background-color:#000!important}.c-black{color:#000!important}
.pull-right {float: right!important;}.pull-left {float: left!important;}
.fs1{font-size: 36px;}.fs2{font-size: 30px;}.fs3{font-size: 24px;}.fs4{font-size: 18px;}.fs5{font-size: 14px;}.fs6{font-size: 12px;}
.color9{color: #999999;}.color3{color: #333333;}.color6{color: #666666;}
.tal{text-align: left;}.tar{text-align: right;}.tac{text-align: center;}
/*--------------------标签样式--------------------*/
ul{padding-left: 0px;}
a{color: #22A4E5;}
a:hover{color: #25b3fa;text-decoration: none;}
/*--------------------文字图标微调--------------------*/
.iconfont.smart{
	position: relative;
	top: 2px;
}
.iconfont.transform180{
	transform: rotate(180deg);
    display: inline-block;
}
/*--------------------普通圆角盒子--------------------*/
.cont-box {
  border: 0px solid #e9e9e9;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #D9D9D9;
}
.cont-box .cont-tl {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e9e9e9;
}
.cont-box .cont-tl .cont-tl-sp {}
/*--------------------右侧链接文字--------------------*/
.cont-box .cont-tl .cont-tl-lk {
  color: #22A4E5;
  text-decoration:none;
}
.cont-box .cont-tl .cont-tl-lk:hover {
  color:#25b3fa;
  text-decoration:none;
}
/*--------------------切换型标题--------------------*/
.tabs-tl {
  border-bottom: 0px solid #e9e9e9;
}
.tabs-tl li {
  float: left;
  height: 40px;
  line-height: 40px;
}
.tabs-tl li a {
  color: #333333;
  padding: 0 22px;
  display: block;
}
.tabs-tl li a:hover {
  color: #25b3fa;
  text-decoration: none;
}
.tabs-tl .active a {
  color: #22A4E5;
  border-bottom: 2px solid #22a4e5;
  height: 39px;
}
.tabs-tl.ac70 li a{
	text-align: center;
	width: 70px;
	padding: 0px;
}
.tabs-tl.ac110 li a{
	text-align: center;
	width: 110px;
	padding: 0px;
}
/*--------------------右侧特殊--------------------*/
.right-special{
	
}
/*--------------------内容分割线--------------------*/
.bb-1{
	border-bottom: 1px solid #f0f0f0;
}
/*--------------------fa背景--------------------*/
.bg-fa{
	background-color: #fafafa;
}
/*--------------------f0背景--------------------*/
.bg-f0{
	background-color: #F0F0F0;
}
/*--------------------out label--------------------*/
.out-label{
	padding-top: 7px;
	font-weight: 100;
}
/*--------------------label宽度自动--------------------*/
.w-auto{
	width: auto;
	min-width: 58px;
}
/*--------------------选择服务切换--------------------*/
.choice-service-box{
	width: 150px;
	height: 120px;
	border: 1px solid #e0e0e0;
	border-radius:5px ;
	display: inline-block;
	margin-right: 18px;
	overflow: hidden;
	cursor: pointer;
}
.choice-service-box.active{
	border: 1px solid #2ea5e2;
	color: #2ea5e2;
}
.larger-f{
	font-size: 20px;
}
.center-textline{
	font-size: 16px;
	position: relative;
	top: -2px;
	margin: 0 3px;
}
.service-box-title{
	background-color: #e9e9e9;
	height: 38px;
	line-height: 38px;
}
.choice-service-box.active .service-box-title{
	background-color: #2EA5E2;
	color: white;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
}
/*--------------------表单样式--------------------*/
.demand-text{
	border: 1px solid #e0e0e0;
	-webkit-font-smoothing: antialiased!important;
}
.form-horizontal .control-label{
	font-weight: 400;
	-webkit-font-smoothing: antialiased!important;
}
.lxfs .form-control{
	height: 40px;
}
.zr_alert-span {
    display: block;
    font-size: 12px;
    padding-top: 7px;
}
.error-span {
    color: #E36159;
}
.error-border {
    border: 1px solid #E36159;
}
@media (min-width: 768px){
	.out-label{
		width: 130px;
	}
	.form-horizontal .control-label.col-sm-2{
		width: 160px;
	}
}
/*--------------------placeholder--------------------*/
input::-webkit-input-placeholder {
　　color: #CCCCCC !important; 
-webkit-font-smoothing: antialiased!important;
	   }		
　　input:-moz-placeholder {
　　color: #CCCCCC !important; 
-webkit-font-smoothing: antialiased!important;
　　}
　　input::-moz-placeholder {
　　color: #CCCCCC !important; 
-webkit-font-smoothing: antialiased!important;
　　}
　　input:-ms-input-placeholder {
　　color: #CCCCCC !important; 
-webkit-font-smoothing: antialiased!important;
　　}
/*--------------------制定专家--------------------*/
.expert-box{
	width: 826px;
	height: 136px;
	border: 1px solid #e0e0e0;
	margin-left: 20px;
	clear: both;
	padding: 30px;
	padding-top: 25px;
	border-radius:5px ;
	margin-top: 10px;
	display: inline-block;
}
.expert-box-text{
	-webkit-font-smoothing: antialiased!important;
	font-weight: 400;
}
.expert-right-control{
	display: inline-block;
	float: right;
	margin-top: -6px;
}
.expert-right-control .iconfont{
	font-size: 23px;
	color: #999999;
}
.expert-right-control .iconfont:hover{
	color: #2EA5E2;
}
.expert-right-control .num-of-page{
	letter-spacing: 1px;
}
.expert-right-control .num-of-page,.expert-right-control .btn-down,.expert-right-control .btn-up{
	display: block;
	margin-top: -4px;
	text-align: center;
}
/*--------------------滑动按钮--------------------*/
.checkbox {
  position: relative;
  display: inline-block;
}
.checkbox:after, .checkbox:before {
  font-family: FontAwesome;
  -webkit-font-feature-settings: normal;
     -moz-font-feature-settings: normal;
          font-feature-settings: normal;
  -webkit-font-kerning: auto;
     -moz-font-kerning: auto;
          font-kerning: auto;
  -webkit-font-language-override: normal;
     -moz-font-language-override: normal;
          font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}
.checkbox label {
  width: 90px;
  height: 20px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.checkbox label:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  left: 0;
  top: -5px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  margin-left: 0px!important;
}
.checkbox input:hover + label:after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.checkbox input:checked + label:after {
  left: 40px;
}
.model-2 .checkbox label {
  width: 38px;
}
.model-2 .checkbox label:after {
  top: 2px;
  width: 16px;
  height: 16px;
  left: 2px;
}
.model-2 .checkbox input:checked + label {
  background: #2ea5e3;
}
.model-2 .checkbox input:checked + label:after {
  left: 20px;
}
/*--------------------带关闭按钮的小标签--------------------*/
.tag{
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	position: relative;
    display: inline-block;
    height: 56px;
    padding: 6px 21px;
    margin: 0 5px 5px 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    vertical-align: top;
    max-width: 160px;
    -webkit-font-smoothing: antialiased; 
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: .25s linear;
    transition: .25s linear;
}
.tag.active{
	background-color: #2EA5E3;
    color: #ffffff;
    border: 1px solid #2EA5E3;
}
.tag>span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #fff;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity .25s linear;
    transition: opacity .25s linear;
}
 .tag>.after-btn:after{
 	content:url(../demoimg/close-iconb.png);
 }
  .tag.active>.after-btn:after{
 	content:url(../demoimg/close-icon.png);
 }
.tag:hover{
	padding-right:28px;
	padding-left:14px;
	background-color: #fafafa;
    color: #333333;
    border: 1px solid #CCCCCC;
}
.tag.active:hover{
    color:#fff;
	background-color:#2ea5e3;
	border: 1px solid #2EA5E3;
}
.tag:hover>span{
	filter:none;
	opacity:1;
	-webkit-filter:none;
}
.after-btn{
	width: 8px!important;
	height: 15px;
	margin-right: 10px;
}
/*--------------------文件上传--------------------*/
.upload-box{
	width: 329px;
	height: 64px;
	border: 1px dashed #999999;
	border-radius: 5px;
	line-height: 62px;
	cursor: pointer;
}
.upload-box i{
	font-size: 25px;
}
.upload-box a{
	cursor: pointer;
}
.upload-box a:hover{
	text-decoration: none;
	color: #333;
}
/*progress.css*/
@keyframes barberpole {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 600px 0%;
  }
}
.progress{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	height: 20px;
	border-radius:20px ;
	background-color: #F5F5F5;
	box-shadow: 0px 1px 1px #F3F3F3 inset;
}
.percentage{
	display: block;
	height: 100%;
	background-color: #22A4E6;
    background-image: repeating-linear-gradient(45deg, #22A4E6, #22A4E6 20px, #47B3EA 20px, #47B3EA 40px);
    background-size: 6000px 100%;
    /*border-bottom: 0.2rem solid #0d7e68;*/
    transition: width 1.2s ease-in-out;
    animation: barberpole 12s linear infinite;
    border-radius: 20px;
}
.text{
	display: block;
    text-align: center;
    width: 100%;
    line-height: 20px;
    color: white;
    font-size: 12px;
    margin-right: 10px;
}
/*--------------------步骤线图--------------------*/
.commit_box_step ul li {
    float: left;
}
.commit_box_step ul .complete{
	color: #22A4E5;
}
.commit_box_step ul .not-complete {
    color: #999999;
}
.commit_box_step ul li .span-name{
	display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #22A4E5;
    background: none;
    font-size: 12px;
    color: #22A4E5;
    font-family: "arial";
    margin-right: 8px;
}
.commit_box_step ul li .spanc{
    border: 1px solid #22A4E5;
    background: none;
    color: #22A4E5;
}
.commit_box_step ul li .span1 {
    line-height: 20px;
    background: #22a4e5;
    color: #fff;
}
.commit_box_step ul li .span2 {
    line-height: 20px;
    background: none;
    border: 1px solid #999999;
    color: #999999;
}
.commit_box_step ul li .span_lineccc {
    display: inline-block;
    height: 1px;
    width: 100px;
    background: #ccc;
    margin: 7px 20px;
    vertical-align: text-top;
}
.font-check {
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
}
.commit_box_step ul li .span_line {
    display: inline-block;
    height: 1px;
    width: 100px;
    background: #22a4e5;
    margin: 7px 20px;
    vertical-align: text-top;
}
/*--------------------结算区域--------------------*/
.float{float: left;}
.zr_special-box{
	padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
	height: 135px;
	margin: 10px 0px 50px;
	background: url(../demoimg/special-box.png); no-repeat;
	background-size: 100% 100%;
}
.zr_list-box{
	width: 81%;
    float: left;
    margin-top: 10px;
    -webkit-font-smoothing: antialiased; 
    font-weight: 500;
}
.zr_right-btn-box{
	width: 19%;
	float: left;
}
.zr_list{
	overflow: hidden;
	padding-left: 57px;
	line-height: 23px;
}
.zr_list li{
	width: 15%;
}
.list-top{
	color: #999999;
}
.list-bot{
	color: #333333;
	font-weight: 400;
	margin-top: 15px;
}
.large-orange{
	font-size: 20px;
	color: #F27935;
	font-weight: bold;
}
.zr_orange-btn{
	float: right;
    margin-right: 40px;
    margin-top: 24px;
    padding: 0px 29px;
    display: inline-block;
    background-color: #F27935;
    color: #FFF;
    border-radius: 4px;
    text-align: center;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    transition: all 0.3s ease 0s;
  	-moz-transition: all 0.3s ease 0s;
 	-webkit-transition: all 0.3s ease 0s;
}
.zr_orange-btn:hover{
	background-color: #DB5D17;
	color: #FFFFFF;
}
/*--------------------审核bug页面--------------------*/
.main-content{
	width: 1220px;
	margin: 110px auto;
}
.checkup-head-left{
	width: 730px;
	float: left;
	/*height: 200px;*/
	padding-top: 15px;
	padding-bottom: 7px;
}
.checkup-head-left .front-title{
	width: 100px;
	float: left;
}
.important-span{
	width: 100px;
	display: inline-block;
}
.important-span:before{
	content: " ";
	width: 10px;
	height: 10px;
	border-radius:40px ;
	margin-right: 15px;
	display: inline-block;
}
.important-span.imred:before{
	background-color: #e1625d;
}
.important-span.imyel:before{
	background-color: #fdab29;
}
.important-span.impur:before{
	background-color: #7266b9;
}
.important-span.imblu:before{
	background-color: #2ea5e3;
}
.important-span.imgre:before{
	background-color: #1ec086;
}
.checkup-head-right{
	width: 410px;
	float: left;
	height: 130px;
	margin-top: 19px;
	border-left: 1px solid #e9e9e9;
}
.checkup-head-right .user-pic-area{
	margin-top: 7px;
	margin-left: 60px;
	margin-right: 20px;
	float: left;
}
.checkup-head-right .user-info-area{
	float: left;
	padding-top: 10px;
}
.info-front-text{
	width: 45px;
	display: inline-block;
}
.info-blue-text{
	color: #22a4e5;
}
.content-blue-tab{
	padding: 0 40px;
	height: 32px;
	line-height: 32px;
	background-color: #2ea5e3;
	color: #FFFFFF;
}
.content-blue-tab .right-control{
	float: right;
	padding: 12.5px 5px;
	cursor: pointer;
	margin-right: -5px;
	transform: rotate(180deg);
}
[isactive=true].content-blue-tab .right-control{
	transform: rotate(0deg);
}
.mode .content-grey-box{
	display: none;
}
.mode.active .content-grey-box{
	display: block;
}
.content-grey-box{
	width: 1100px;
	margin: 30px auto 10px;
	border: 1px solid #E0E0E0;
}
.content-grey-box:last-child{
	margin-bottom: 40px;
}
.grey-box-title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #F7F7F7;
	padding: 0 20px;
}
.grey-box-title .pull-right .iconfont{
	font-size: 23px;
	vertical-align: middle;
	margin-right: 5px;
}
.main-content-area{
	padding: 30px 20px;
}
.main-content-area .pull-left .pic-box{
	width: 177px;
	height: 313px;
	display: inline-block;
	margin-right: 16px;
	border: 1px solid #707070;
	overflow: hidden;
	cursor: pointer;
}
.main-content-area .pull-left .pic-box:last-child{
	margin-right: 0px;
}
.main-content-area .pull-left .pic-box img{
	width: 100%;
}
.main-content-area .pull-left .text-info-area{
	margin-left: 45px;
	border-bottom:1px solid #E9E9E9 ;
	width: 639px;
	margin-bottom: 20px;
}
.text-info-area .info-layer .left-title{
	display: inline-block;
	vertical-align: top;
}
.text-info-area .info-layer .right-content{
	display: inline-block;
	margin-bottom: 12px;
}
.text-info-area .info-layer .right-content p{
	margin: 0 0 5px;
	color: #666666;
}
.three-info-area{
	margin-left: 45px;
	width: 639px;
}
.three-info-area .info-of1{
	display: inline-block;
	margin-right: 55px;
}
.three-info-area .info-of1 span{
	color: #666666;
}
.attachment-area{
	clear: both;
	padding: 15px 20px 30px;
	line-height: 24px;
}
.attachment-title{
	color: #666666;
	margin-right: 25px;
}
.attachment-link{
	margin-right: 40px;
}
.attachment-link .icon{
	margin-right: 5px;
	position: relative;
	top: 2px;
	font-size: 22px;
}
.content-box-bottom{
	width: 100%;
	height: 54px;
	border-top: 1px solid #e9e9e9;
	background-color: #fafafa;
}
.content-box-bottom .di-block{
	vertical-align: top;
}
.select-bug{
	line-height: 54px;
	color: #666666;
	margin-left: 20px;
}
.content-box-bottom .btn-group button{
	min-width: 100px;
	background-color: #FFFFFF;
}
.content-box-bottom .btn-group button:hover{
	background-color: inherit;
}
.content-box-bottom .btn-group button:focus{
	outline: none;
}
.content-box-bottom .btn-group button.active{
	outline: none;
	color: #FFFFFF;
}
.content-box-bottom .btn-group button:nth-child(1).active{
	background-color: #e1625d;
	border: 1px solid #E1625D;
}
.content-box-bottom .btn-group button:nth-child(2).active{
	background-color: #FDAB29;
	border: 1px solid #FDAB29;
}
.content-box-bottom .btn-group button:nth-child(3).active{
	background-color: #7266b9;
	border: 1px solid #7266B9;
}
.content-box-bottom .btn-group button:nth-child(4).active{
	background-color: #2ea5e3;
	border: 1px solid #2ea5e3;
}
.content-box-bottom .btn-group button:nth-child(5).active{
	background-color: #1ec086;
	border: 1px solid #1ec086;
}
.content-box-bottom2{
	padding: 10px;
	font-size: 16px;
}
.cbb2-left{
	width: 534px;
	height: 54px;
	border-radius:3px;
	display: inline-block;
	background-color: #f2f1f1;
	line-height: 52px;
	text-align: center;
	cursor: pointer;
}
.cbb2-right{
	width: 534px;
	height: 54px;
	border-radius:3px;
	display: inline-block;
	background-color: #2EA5E2;
	color: #FFFFFF;
	line-height: 52px;
	text-align: center;
	margin-left: 5px;
	cursor: pointer;
}
/*--------------------评分页面--------------------*/
.asm-head-left{
	width: 334px;
	height: 106px;
	display: inline-block;
	border-right: 1px solid #E9E9E9;
	vertical-align: top;
	padding-left: 30px;
}
.star-span{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 15px;
	margin-top: 3px;
}
.star-span img{
	width: 100%;
}
.asm-head-center{
	width: 532px;
	height: 106px;
	display: inline-block;
	border-right: 1px solid #E9E9E9;
	padding-left: 69px;
}
.problem-btn{
	width: 117px;
	height: 32px;
	display: inline-block;
	border: 1px solid #CCCCCC;
	line-height: 30px;
	text-align: center;
	border-radius: 20px;
	margin-right: 12px;
	margin-bottom: 11px;
	cursor: pointer;
}
.problem-btn.active{
	border: 1px solid #fdb02e;
	color: #ffb10f;
}
.asm-center-title{
	color: #666666;
}
.asm-head-right{
	display: inline-block;
	width: 286px;
	height: 106px;
	vertical-align: top;
	padding-top: 39px;
}
.asm-head-right .btn-blue{
	padding: 13px 45px;
	text-align: center;
	background-color: #2EA5E2;
	color: white;
	border-radius:5px ;
	font-size: 16px;
	 -webkit-font-smoothing: antialiased;
	 font-weight: 500;
	 margin-left: 72px;
}
.grade-head-left{
	width: 354px;
	float: left;
	/*height: 200px;*/
	padding-top: 11px;
	padding-bottom: 7px;
}
.grade-head-right{
	width: 710px;
	float: left;
	height: 96px;
	margin-top: 10px;
	border-left: 1px solid #e9e9e9;
}
.app-bar-info dt {
    float: left;
    margin: 0 20px 0 15px;
}
.app-bar-info dt img {
    width: 88px;
    height: 88px;
}
.app-bar-info dt img:nth-child(2) {
    margin-left: 20px;
    width: 81px;
    height: 81px;
}
.app-bar-info dd {
    float: left;
}
.app-bar-info dd h4 {
    height: 33px;
    line-height: 32px;
    font-size: 24px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 5px;
}
.app-bar-info dd .tips-zone {
    margin-top: 5px;
}
.tip-blue.border-btu {
    border: 1px solid #22a4e5;
    color: #22a4e5;
    background: 0 0;
}
.tip-blue {
    display: inline-block;
    background-color: #7ac8f0;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #ffffff;
    font-style: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 8px;
}
.bug-ring-area{
	width: 91px;
	height: 92px;
	float: left;
	background-image: url(../demoimg/bugring.png);
	margin-left: 60px;
}
.bug-ring-area .ring-titile{
	font-size: 24px;
	color: #333333;
	text-align: center;
	margin-top: 21px;
	margin-bottom: 0px;
	-webkit-font-smoothing: antialiased;
}
.bug-ring-area .ring-text{
	font-size: 12px;
	color: #999999;
	text-align: center;
	margin-top: -3px;
    -webkit-font-smoothing: antialiased;
}
.bug-number-area{
	width: 80px;
	float: left;
	margin-left: 33px;
}
 .bug-number-area .number-text{
 	font-size: 24px;
	color: #333333;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 5px;
	-webkit-font-smoothing: antialiased;
 }
 .bug-number-area .number-titile{
 	font-size: 12px;
 	color: #FFFFFF;
 	width: 80px;
 	height: 22px;
 	text-align: center;
 	line-height: 22px;
 	display: inline-block;
 	border-radius:10px ;
 }
.imred-bg{
	background-color: #e1625d;
}
.imyel-bg{
	background-color: #fdab29;
}
.impur-bg{
	background-color: #7266b9;
}
.imblu-bg{
	background-color: #3ccfec;
}
.imgre-bg{
	background-color: #1ec086;
}
.imred-cl{
	color: #e1625d;
}
.imyel-cl{
	color: #fdab29;
}
.impur-cl{
	color: #7266b9;
}
.imblu-cl{
	color: #3ccfec;
}
.imgre-cl{
	color: #1ec086;
}
.content-buglist-tab{
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #e9e9e9;
	padding: 0 20px;
	clear: both;
}
.right-im-span{
	width: 110px;
	float: right;
}
.right-im-span img{
	float: right;
	padding: 20px 5px;
	cursor: pointer;
}
.content-full-box{
	background-color: #FAFAFA;
}
.content-area{
	padding-top: 30px!important;
	padding-bottom: 66px!important;
}
.ck-info{
	margin-right: 35px!important;
	color: #2EA5E2;
	padding: 10px 5px;
	cursor: pointer;
}
.ck-info .iconfont{
	font-size: 22px!important;
}
.help-tip{
	position: absolute;
	left: -248px;
    margin-top: -12px;
    display: none;
}
/*--------------------清单页面--------------------*/
.list-content-area{
	padding-bottom: 40px!important;
}
.main-content-zc{
    width: 1170px;
    margin: 100px auto;
}
.list-head-left{
	width: 253px;
	float: left;
	height: 75px;
	padding-top: 8px;
	padding-bottom: 6px;
	margin-top: 8px;
	border-right: 1px solid #e9e9e9;
}
.list-head-right{
	width: 810px;
	float: left;
	/*height: 96px;*/
	margin-top: 0px;
	
}
.point-text{
	font-size: 14px;
	padding-left: 20px;
}
.point-orange{
	font-size: 18px;
	color: #f27935;
}
.point-yellow{
	font-size: 18px;
	color: #ffac00;
}
.right-special{
	color: #666666;
}
.right-special span .iconfont{
	font-size: 24px;
	vertical-align: middle;
	margin-right: 5px;
	position: relative;
	top: -1px;
}
.price-org{
	color: #ff6633;
}
.manager-head{
	height: 58px;
	width: 100%;
	background-color: #FFFFFF;
	margin-top: 6px;
	margin-bottom: 20px;
}
.manager-head .user-pic{
	padding-top: 6px;
	padding-left: 20px;
	margin-right: 10px;
	display: inline-block;
}
.user-info{
	display: inline-block;
}
.user-name{
	margin-right: 30px;
}
.level-blue-color{
	color: #22a4e6;
}
.user-earning{
	color: #666666;
	margin-right: 20px;
}
.user-list-head{
	width: 100%;
	height: 60px;
	background-color: #ecf3f9;
	line-height: 60px;
	margin-top: 34px;
}
.user-list-head .user-pic{
	display: inline-block;
	position: relative;
	top: -2px;
	padding-left: 20px;
	margin-right: 10px;
}
.user-list-head .pull-right .user-earning:first-child{
	margin-right: 35px;
}
.right-pts-span {
    width: 170px;
    float: right;
    color: #666666;
}
.right-pts-span img {
    float: right;
    padding: 20px 5px;
    cursor: pointer;
}
[isactive=true] .right-pts-span img {
    transform: rotate(180deg);
}
[isactive=true] .right-im-span img {
    transform: rotate(180deg);
}
.buglist-left-title{
	width: 105px;
	float: left;
}
.buglist-left-title span{
	font-weight: bold;
}
/*--------------------查看缩略图--------------------*/
.whitemask{
	width: 100%;
	height: 100%;
	background-color: rgba(243, 243, 243, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}
.pic-slide{
	/*width: 1170px;*/
	position: relative;
	margin: 0 auto;
	/*height: 640px;*/
	text-align: center;
}
.close-slide{
	position: absolute;
	top: 26px;
	right: 26px;
	cursor: pointer;
	width: 36px;
}
.slide-pic-box{
	width: auto;
	height: auto;
	overflow: hidden;
	display: inline-block;
	border: 1px solid #bbc0ca;
}
.slide-area{
	padding-top: 90px;
	display: inline-block;
}
.slide-pic-box img{
	width: 100%;
}
.slide-control{
	width: 38px;
	display: inline-block;
	vertical-align: top;
	margin-top: 313px;
	margin-left: 59px;
	margin-right: 59px;
	cursor: pointer;
}
/*--------------------引导蒙板--------------------*/
.guidemask{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
}
.guide-close{
	position: absolute;
	top: 68px;
	right: 68px;
	cursor: pointer;
}
.guiding1{
	position: relative;
    z-index: 120;
    background-color: #ffffff;
    border-radius: 5px;
}
.guiding2{
    position: relative;
    z-index: 120;
    background-color: #ffffff;
    border-radius: 5px;
    padding-left: 15px;
    height: 39px;
}
.guiding3{
	position: relative;
	z-index: 120;
	background-color: #FFFFFF;
	border-radius: 5px;
}
.guide1-area{
	position: absolute;
    z-index: 120;
    left: 130px;
    margin-top: 10px;
    display: none;
}
.guide2-area{
	position: absolute;
    z-index: 120;
    left: -335px;
    margin-top: -25px;
    display: none;
}
.guide3-area{
	position: absolute;
    z-index: 120;
    left: 480px;
    margin-top: 20px;
    display: none;
}
.guide1-btn{
	display: block;
    text-align: center;
    margin-top: 20px;
}
.guide2-btn{
	display: block;
    text-align: center;
    margin-top: 20px;
}
/*--------------------弹窗--------------------*/
.mask{
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 121;
    font-size: 14px;
    /*display: none;*/
}
.zr_alert {
    height: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}
.zr_alert-title {
    margin: 0px;
    height: 41px;
    line-height: 41px;
    text-align: left;
    font-weight: 400;
    color: #333333;
    text-indent: 19px;
    background-color: #F6F6F6;
    font-size: inherit;
}
.zr_close {
    font-size: 21px;
    font-weight: 700;
    color: #CCCCCC;
    text-shadow: 0 1px 0 #fff;
    float: right;
    height: 41px;
    line-height: 41px;
    margin-right: 15px;
    cursor: pointer;
}
.zr_alert-bottom {
    background-color: #F6F6F6;
    height: 55px;
}
.zr_alert-bottom a{
	float: right;
	margin-top: 11px;
	margin-right: 86px;
}
.zr_alert-content{
	padding-top: 56px!important;
	padding-bottom: 56px!important;
}
.imcheck{
	font-size: 16px;
	display: inline-block;
	margin-right: 40px;
	cursor: pointer;
}
.imcheck:last-child{
	margin-right: 0px;
}
.imcheckbox{
	width: 18px;
	height: 18px;
	border: 1px solid #CCCCCC;
	border-radius:20px ;
	display: inline-block;
	vertical-align: text-bottom;
	margin-right: 10px;
	text-align: left;
}
.imcheckbox:before{
	content: "";
	width: 10px;
	height: 10px;
	border-radius:20px ;
	display: inline-block;
	background-color: transparent;
	vertical-align: top;
	margin-top: 3px;
	margin-left: 3px;
	-webkit-font-smoothing: antialiased;
}
.active .imred-ck{
	border-color: #e1625d;
}
.active .imyel-ck{
	border-color: #fdab29;
}
.active .impur-ck{
	border-color: #7266b9;
}
.active .imblu-ck{
	border-color: #3ccfec;
}
.active .imgre-ck{
	border-color: #1ec086;
}
.active .imred-ck:before{
	background-color: #e1625d;
}
.active .imyel-ck:before{
	background-color: #fdab29;
}
.active .impur-ck:before{
	background-color: #7266b9;
}
.active .imblu-ck:before{
	background-color: #3ccfec;
}
.active .imgre-ck:before{
	background-color: #1ec086;
}
/*
        ------中按钮---------
        蓝色：btn-blue-md
        红色：btn-red-md
        镂空：btn-def-md
        橘色：btn-red-or
*/
.btn-blue-md,
.btn-red-md,
.btn-def-md,
.btn-red-or {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 14px;
}
/*---------hover------------*/
.btn-blue-md {
  background-color: #22a4e5;
  border: 1px solid #22a4e5;
}
.btn-blue-md:hover {
  background-color: #25b3fa;
  border: 1px solid #25b3fa;
  color: #FFFFFF;
}
.btn-red-md {
  background-color: #e36159;
  border: 1px solid #e36159;
}
.btn-red-md:hover {
  background-color: #fa6e66;
  border: 1px solid #fa6e66;
}
.btn-def-md {
  border: 1px solid #cccccc;
  color: #333333;
}
.btn-def-md:hover {
  border: 1px solid #25b3fa;
  color: #25b3fa;
}
.btn-red-or {
  background-color: #f27935;
  border: 1px solid #f27935;
}
.btn-red-or:hover {
  background-color: #ff8640;
  border: 1px solid #ff8640;
}